@define-color gokyuzumavi #73daca;
@define-color lacivert #7aa2f7;
@define-color mor #bb9af7;
@define-color turkuaz #2ac3de;
@define-color yesil #9ece6a;
@define-color limon #e0af68;
@define-color bej #cfc9c2;
@define-color pembe #ff4499;
@define-color kırmızı #f7768e;
