################
### MONITORS ###
################

{{ if eq .chezmoi.hostname "locke" }}
# RAD - locke
monitor=LVDS-1,1920x1080@60,0x0,1
{{ else }}
# RAD - Normal (extended) layout
monitor=DP-2,1920x1080@60,0x0,1
monitor=DP-1,1920x1080@144,0x1080,1
{{ end }}


###################
### MY VARS ###
###################

$terminal = kitty
$fileManager = yazi
$menu = wofi --show drun --style ~/.config/wofi/styles.css

#################
### AUTOSTART ###
#################

exec-once = waybar
exec-once = xremap ~/.config/xremap/config.yml
exec-once = dunst
{{ if eq .chezmoi.hostname "locke" }}
exec-once = nm-applet
exec-once = hyprpaper
{{ else }}
exec-once = ~/bin/livenaturewall.sh
{{ end }}

#############################
### ENVIRONMENT VARIABLES ###
#############################

env = HYPRCURSOR_THEME,rose-pine-hyprcursor
env = XCURSOR_SIZE,24
env = HYPRCURSOR_SIZE,24

###################
### PERMISSIONS ###
###################

permission = /usr/(bin|local/bin)/grim, screencopy, allow
permission = /usr/(lib|libexec|lib64)/xdg-desktop-portal-hyprland, screencopy, allow


#####################
### WORKSPACES ###
#####################

# DP-1: number workspaces
workspace = 1, monitor:DP-1, name:gay
workspace = 2, monitor:DP-1
workspace = 3, monitor:DP-1
workspace = 4, monitor:DP-1
workspace = 5, monitor:DP-1
workspace = 6, monitor:DP-1
workspace = 7, monitor:DP-1
workspace = 8, monitor:DP-1
workspace = 9, monitor:DP-1
workspace = 10, monitor:DP-1

# DP-2: function key workspaces
workspace = 11, monitor:DP-2
workspace = 12, monitor:DP-2
workspace = 13, monitor:DP-2
workspace = 14, monitor:DP-2

dwindle {
    pseudotile = true # Master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = true # You probably want this
}

misc {
    force_default_wallpaper = 0 # Set to 0 or 1 to disable the anime mascot wallpapers
    disable_hyprland_logo = 0 # If true disables the random hyprland logo / anime girl background. :(
}

#############
### INPUT ###
#############

# https://wiki.hypr.land/Configuring/Variables/#input
input {
    kb_layout = tr
    kb_variant = 
    kb_model = 
    kb_options =
    kb_rules =
    repeat_delay = 200
    repeat_rate = 50
    follow_mouse = 1

#Shitty MouseScroll Fix
    scroll_method = on_button_down
    scroll_button = 274

    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.
}


###################
### KEYBINDINGS ###
###################

$mainMod = SUPER # Sets "Windows" key as main modifier

# Opens
bind = $mainMod, less, exec, $terminal
bind = $mainMod, R, exec, $menu
bind = $mainMod SHIFT, R, exec, ls ~/bin | wofi --dmenu --prompt "Scripts" | xargs -r sh -c
bind = $mainMod, E, exec, kitty -e yazi
bind = $mainMod, N, exec, kitty -e nvim
bind = $mainMod, S, exec, firefox
bind = $mainMod SHIFT, S, exec, firefox --private-window
bind = $mainMod ALT, S, exec, brave --password-store=basic
bind = $mainMod, Y, exec, kitty -e ~/.cargo/bin/youtube-tui
bind = $mainMod , B, exec, kitty -e btop
bind = $mainMod, A, exec, pavucontrol
bind = $mainMod SHIFT ,A, exec, ~/bin/audio_changer.py
bind = $mainMod, O, exec, kitty -e antimicrox
bind = $mainMod, T, exec, ~/bin/toggle_touchpad.sh

# Windows - Utility
bind = , Print, exec, ~/bin/swappyshot.sh
bind = $mainMod, F, fullscreen, 0
bind = $mainMod ALT, F, fullscreenstate, 2 0
bind = $mainMod CTRL, F, fullscreenstate, 1 0
bind = $mainMod, Q, killactive,
bind = $mainMod, V, togglefloating,
bind = $mainMod, C, pseudo, # dwindle
bind = $mainMod SHIFT, X, togglesplit, 
bind = $mainMod, X, swapsplit, 
bind = $mainMod ALT, X, swapactiveworkspaces, DP-1 DP-2 
bind = $mainMod, idotless, exec, hyprctl dispatch tagwindow background
bind = $mainMod Ctrl,Q, exec, wlogout -C /home/rad/.config/wlogout/styles.css
bind = SUPER, M, exec, ~/.config/hypr/toggle-mirror.sh
bind = $mainMod, Tab, workspace, previous

bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow
#Disable Middle Mouse Click
bindn = , mouse:274, exec, wl-copy -pc

bind = $mainMod SHIFT, idotless, exec, hyprctl dispatch setprop active alphainactive 0.7

# Windows - Movement
bind = $mainMod SHIFT, H, movewindow, l
bind = $mainMod SHIFT, L, movewindow, r
bind = $mainMod SHIFT, K, movewindow, u
bind = $mainMod SHIFT, J, movewindow, d 

bind = $mainMod, h, movefocus, l
bind = $mainMod, l, movefocus, r
bind = $mainMod, k, movefocus, u
bind = $mainMod, j, movefocus, d

bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace,  10
bind = $mainMod, F1, workspace, 11
bind = $mainMod, F2, workspace, 12
bind = $mainMod, F3, workspace, 13
bind = $mainMod, F4, workspace, 14

bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7
bind = $mainMod SHIFT, 8, movetoworkspace, 8
bind = $mainMod SHIFT, 9, movetoworkspace, 9
bind = $mainMod SHIFT, 0, movetoworkspace,  10
bind = $mainMod SHIFT, F1, movetoworkspace, 11
bind = $mainMod SHIFT, F2, movetoworkspace, 12
bind = $mainMod SHIFT, F3, movetoworkspace, 13
bind = $mainMod SHIFT, F4, movetoworkspace, 14

# Windows - Resize
bind = $mainMod, Z,submap,resize
submap=resize
binde = , l, resizeactive, 20 0
binde = , h, resizeactive, -20 0
binde = , k, resizeactive, 0 -20
binde = , j, resizeactive, 0 20
binde = SHIFT, l, resizeactive, 40 0
binde = SHIFT, h, resizeactive, -40 0
binde = SHIFT, k, resizeactive, 0 -40
binde = SHIFT, j, resizeactive, 0 40
binde = CTRL, l, resizeactive, 10 0
binde = CTRL, h, resizeactive, -10 0
binde = CTRL, k, resizeactive, 0 -10
binde = CTRL, j, resizeactive, 0 10
bind = $mainMod, Z,submap,reset
bind = , Escape,submap,reset
submap=reset

# Multimedia
bindel = ,XF86AudioRaiseVolume, exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+
bindel = ,XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle

bindl = , XF86AudioNext, exec, playerctl next
bindl = , XF86AudioPause, exec, playerctl play-pause
bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioPrev, exec, playerctl previous

############
### MISC ###
############

# default fixes
windowrulev2 = suppressevent maximize, class:.*
windowrulev2 = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0

#RAD - config
source = ~/.config/hypr/windows.conf
source = ~/.config/hypr/animations.conf


###############
### KEYPAD  ###
###############

#RAD - scroll with keyboard hotkeys
# bind = $mainMod ALT, J, exec, echo wheel -3 | dotoolc
# bind = $mainMod ALT, K, exec, echo wheel 3 | dotoolc
# bind = $mainMod ALT, H, exec, echo hwheel -3 | dotoolc
# bind = $mainMod ALT, L, exec, echo hwheel 3 | dotoolc


bind = , KP_Delete,submap,keypad
submap=keypad
binde = SHIFT, KP_HOME, exec, ydotool mousemove -- -40 -40 && sleep 0.1   # Left-Up
binde = SHIFT, KP_PRIOR, exec, ydotool mousemove -- 40 -40 && sleep 0.1   # Right-Up
binde = SHIFT, KP_END, exec, ydotool mousemove -- -40 40 && sleep 0.1     # Left-Down
binde = SHIFT, KP_NEXT, exec, ydotool mousemove -- 40 40 && sleep 0.1     # Right-Down
binde = SHIFT, KP_LEFT, exec, ydotool mousemove -- -40 0 && sleep 0.1  # Left
binde = SHIFT, KP_RIGHT, exec, ydotool mousemove -- 40 0 && sleep 0.1  # Right
binde = SHIFT, KP_UP, exec, ydotool mousemove -- 0 -40 && sleep 0.1  # Up
binde = SHIFT, KP_DOWN, exec, ydotool mousemove -- 0 40 && sleep 0.1  # Down
binde = , KP_HOME, exec, ydotool mousemove -- -20 -20 && sleep 0.1   # Left-Up
binde = , KP_PRIOR, exec, ydotool mousemove -- 20 -20 && sleep 0.1   # Right-Up
binde = , KP_END, exec, ydotool mousemove -- -20 20 && sleep 0.1     # Left-Down
binde = , KP_NEXT, exec, ydotool mousemove -- 20 20 && sleep 0.1     # Right-Down
binde = , KP_LEFT, exec, ydotool mousemove -- -20 0 && sleep 0.1  # Left
binde = , KP_RIGHT, exec, ydotool mousemove -- 20 0 && sleep 0.1  # Right
binde = , KP_UP, exec, ydotool mousemove -- 0 -20 && sleep 0.1  # Up
binde = , KP_DOWN, exec, ydotool mousemove -- 0 20 && sleep 0.1  # Down
binde = CTRL, KP_HOME, exec, ydotool mousemove -- -10 -10 && sleep 0.1   # Left-Up
binde = CTRL, KP_PRIOR, exec, ydotool mousemove -- 10 -10 && sleep 0.1   # Right-Up
binde = CTRL, KP_END, exec, ydotool mousemove -- -10 10 && sleep 0.1     # Left-Down
binde = CTRL, KP_NEXT, exec, ydotool mousemove -- 10 10 && sleep 0.1     # Right-Down
binde = CTRL, KP_LEFT, exec, ydotool mousemove -- -10 0 && sleep 0.1  # Left
binde = CTRL, KP_RIGHT, exec, ydotool mousemove -- 10 0 && sleep 0.1  # Right
binde = CTRL, KP_UP, exec, ydotool mousemove -- 0 -10 && sleep 0.1  # Up
binde = CTRL, KP_DOWN, exec, ydotool mousemove -- 0 10 && sleep 0.1  # Down
binde = CTRL ALT, KP_HOME, exec, ydotool mousemove -- -5 -5 && sleep 0.1   # Left-Up
binde = CTRL ALT, KP_PRIOR, exec, ydotool mousemove -- 5 -5 && sleep 0.1   # Right-Up
binde = CTRL ALT, KP_END, exec, ydotool mousemove -- -5 5 && sleep 0.1     # Left-Down
binde = CTRL ALT, KP_NEXT, exec, ydotool mousemove -- 5 5 && sleep 0.1     # Right-Down
binde = CTRL ALT, KP_LEFT, exec, ydotool mousemove -- -5 0 && sleep 0.1  # Left
binde = CTRL ALT, KP_RIGHT, exec, ydotool mousemove -- 5 0 && sleep 0.1  # Right
binde = CTRL ALT, KP_UP, exec, ydotool mousemove -- 0 -5 && sleep 0.1  # Up
binde = CTRL ALT, KP_DOWN, exec, ydotool mousemove -- 0 5 && sleep 0.1  # Down
binde = , KP_BEGIN, exec, ydotool click C0 # 5 = left click
binde = , KP_DIVIDE, exec, ydotool click 0x42 0x82
binde = , KP_MULTIPLY, exec, ydotool click 0x41 0x81
binde = , KP_SUBTRACT, exec, echo wheel +3 | dotoolc
binde = , KP_Add, exec, echo wheel -3 | dotoolc
bind = , KP_Delete,submap,reset
bind = , Escape,submap,reset
submap=reset


