windowrulev2 = immediate, class:^(cs2)$
# AFFINITY EXCEPTION
windowrulev2 = noblur, class:^(affinity\.exe)$
windowrulev2 = noblur, class:^(affinity\.exe)$, title:^.*$    # catch title-empty / child windows
windowrulev2 = opaque, class:^(affinity\.exe)$

# MAPTOOL EXCEPTION
windowrulev2 = noblur, class:^(.*maptool.*)$
windowrulev2 = noblur, class:^(.*maptool.*)$, title:^.*$    # catch title-empty / child windows
windowrulev2 = opaque, class:^(.*maptool.*)$

# DaVinci EXCEPTION
windowrulev2 = noblur, class:^(resolve)$
windowrulev2 = noblur, class:^(resolve)$, title:^.*$    # catch title-empty / child windows
windowrulev2 = opaque, class:^(resolve)$


# Tag Windows and Decorations
# windowrulev2 = bordercolor rgb(F7768E) rgb(FF9E64) rgb(3B1F2B) rgb(EF4444) 45deg, tag:main
# windowrulev2 = bordercolor rgb(7AA2F7) rgb(89DDFF) rgb(1E2A3A) rgb(38BDF8) 45deg, tag:secondary
windowrulev2 = bordercolor rgb(F7768E) rgb(FF9E64) rgb(3B1F2B) rgb(EF4444) 45deg, floating:1
windowrulev2 = bordercolor rgb(7AA2F7) rgb(89DDFF) rgb(1E2A3A) rgb(38BDF8) 45deg, xwayland:1
windowrulev2 = bordercolor rgb(1F6F5B) rgb(2A9D8F) rgb(0B2E25) rgb(1F8A70) 45deg, tag:background
windowrulev2 = opaque, tag:background
windowrulev2 = bordercolor rgb(C4B5FD) rgb(E0D7FF) rgb(2B1B4A) rgb(A78BFA) 45deg, class:obsidian

{{ if eq .chezmoi.hostname "locke" }}
layerrule = blur 0.3
{{ else }}
layerrule = blur 
{{ end }}

general {
    gaps_in = 5
    gaps_out = 20
    border_size = 3


    col.active_border = rgb(A594F9) rgb(CDC1FF) rgb(24273A) rgb(8aadf4) 45deg
    col.inactive_border = rgb(24273A) rgb(24273A) rgb(24273A) rgb(27273A) 45deg
    
    layout = dwindle
    resize_on_border = true
    allow_tearing = true
}


decoration {
    rounding = 20
    
    blur {
        enabled = true
        size = 2
        passes = 2
        xray = true
        brightness = 0.5
        vibrancy = 0.1923
        vibrancy_darkness = 0.9
        special = true
        popups = true
        input_methods = true
        input_methods_ignorealpha = 0.5
    }

    inactive_opacity = 0.7
    fullscreen_opacity =  1.0
}
