{
    "mpris": {
        "interval": 2,
        "format": "{player_icon} {title} - {artist}",
        "format-paused": "{status_icon} <i>{title} - {artist}</i>",
        {{ if eq .chezmoi.hostname "locke" }}
        "title-len": 20,
        "artist-len": 15,
        {{ else }}
        "title-len": 40,
        "artist-len": 25,
        {{ end }}
        "dynamic-order": [
            "title",
            "artist"
        ],
        "player-icons": {
            "default": "▶",
            "firefox": "▶",
            "spotify": "🎵",
            "cmus": "🎵"
        },
        "status-icons": {
            "paused": "⏸"
        },
        // "ignored-players": ["cmus"]
    }
}
