{
    "custom/weather": {
        "format": "{}°",
        "tooltip": true,
        "interval": 3600,
        "exec": "wttrbar --location Manisa --date-format '%d.%m.%y' --nerd --custom-indicator '{temp_C} {ICON}'",
        "return-type": "json"
    }
}
